---
denv:
  identity_filepath: {{ config['denv']['identity_filepath'] }}
git:
  core:
    editor: {{ config['git']['core']['editor'] }}
  user:
    name: {{ config['git']['user']['name'] }}
    email: {{ config['git']['user']['email'] }}
oh_my_zsh:
  theme: {{ config['oh_my_zsh']['theme'] }}
ros:
  version_codename: {{ config['ros']['ros_codename'] }}
  domain_id: {{ config['ros']['domain_id'] }}
ssh:
  github_com:
    identity_filepath: {{ config['ssh']['github_com']['identity_filepath'] }}
  docker_native_env:
    identity_filepath: {{ config['ssh']['docker_native_env']['identity_filepath'] }}
  docker_arm64_env:
    identity_filepath: {{ config['ssh']['docker_arm64_env']['identity_filepath'] }}
zsh:
  editor: {{ config['zsh']['editor'] }}

