{%

set ubuntu_version_to_ros_codename = {
  '20.04': 'foxy',
  '22.04': 'humble',
  '24.04': 'jazzy',
}

%}
---
ros:
  version_codename: {% ubuntu_version_to_ros_codename[ansible_facts['distribution_version']] %}
  domain_id: 0

