name: jugglebot
dependencies:
  - python={{ python_version }}
  
  # TASK [Specify the Jugglebot project requirements]
  
  - cantools
  - matplotlib
  - numpy
  - python-can
  
  # TASK [Specify the Yasmin requirements]
  
  - expiringdict
  - flask
  - waitress

  # TASK [Specify the pip requirements]
  # 
  # Note: We prefer to specify the Conda package unless (a) no Conda package
  # exists or (b) the Conda package would install a binary that we prefer to
  # manage via apt an repository package.

  - pip:
    
    # TASK [Specify the shell environment pip requirements]
    
    - tmuxp
      # Note: We choose the pip package because we prefer to use the tmux
      # binary that is provided by the Ubuntu apt repository.
    
    # TASK [Specify the Jugglebot project pip requirements]
    
    - numpy-quaternion==2022.4.4
    - pyspacemouse==1.0.9

