# TASK [Educate about how to apply changes]
# 
# After editing this file, you can apply changes by running the following
# utility:
#
#   ~/bin/refresh-dependencies
#
# That tool will run the following Ansible playbook:
#
#   $JUGGLEBOT_REPO_DIR/environments/ubuntu-common/refresh_dependencies_playbook.yml
#
# That playbook will interpolate the `python_version` and then install your
# revised jugglebot Conda environment requirements. It will also try to upgrade
# the Jugglebot runtime configuration (`~/.jugglebot/jugglebot_rc.yml`) and the
# jugglebot Conda environment activation handler script
# (`~/.jugglebot/conda_env.sh`) with the latest versions that are checked-in
# here:
#
#   $JUGGLEBOT_REPO_DIR/environments/ubuntu-common/jugglebot_rc.yml.j2
#   $JUGGLEBOT_REPO_DIR/environments/ubuntu-common/conda_env.sh
#
# However, it will not overwrite those `~/.jugglebot` config files if you have
# manually made changes to the installed versions.
#
# Finally, it will ensure that fnm has installed the Node.js version that is
# specifed in the following file:
#
#   $JUGGLEBOT_REPO_DIR/ros_ws/gui/.node_version


name: jugglebot
channels:
  - conda-forge
dependencies:
  - python={{ python_version }}
  - pip

  # TASK [Specify the Jugglebot project requirements]
  
  - cantools
  - matplotlib
  - numpy
  - python-can
  
  # TASK [Specify the Yasmin requirements]
  
  - expiringdict
  - flask
  - waitress

  # TASK [Specify the pip requirements]
  # 
  # Note: We prefer to specify the Conda package unless (a) no Conda package
  # exists or (b) the Conda package would install a binary that we prefer to
  # manage via an apt repository package.

  - pip:
    
    # TASK [Specify the Jugglebot project pip requirements]
    
    - numpy-quaternion==2022.4.4
    - pyspacemouse==1.0.9

    # TASK [Specify the shell environment pip requirements]
    #
    # Note: We choose the pip package for tmuxp because we prefer to use the
    # tmux binary that is provided by the Ubuntu apt repository.
    
    - tmuxp
