[user]
        name = {{ config.git.user.name }}
        email = {{ config.git.user.email }}
[core]
        editor = {{ config.git.core.editor }}
[remote "origin"]
        prune = true
[alias]
        co = checkout
        br = branch
        ci = commit
        st = status
        last = !git --no-pager log -1 HEAD
        lastdiff = !git --no-pager log -p -1 HEAD
        staged = diff --cached
        stagedws = !git --no-pager diff --cached --name-only --relative --diff-filter=ACMRTUXB -z | xargs --null -I % sh -c 'grep -q -e ''.*[[:space:]]$'' ''%'' && sed -i ''s/[[:space:]]*$//'' ''%'' && git add ''%'''
        unstage = reset HEAD --
