Host github.com
    Hostname github.com
    IdentityFile {{ home_dir }}/.ssh/{{ ssh_keypair_name }}
    IdentitiesOnly yes
    User git
    StrictHostKeyChecking accept-new
    AddKeysToAgent yes

Host docker-native-env
    Hostname localhost
    Port 4422
    IdentityFile {{ home_dir }}/.ssh/{{ ssh_keypair_name }}
    IdentitiesOnly yes
    User devops
    StrictHostKeyChecking no
    AddKeysToAgent yes
    ForwardX11 yes

Host docker-arm64-env
    Hostname localhost
    Port 4522
    IdentityFile {{ home_dir }}/.ssh/{{ ssh_keypair_name }}
    IdentitiesOnly yes
    User devops
    StrictHostKeyChecking no
    AddKeysToAgent yes
    ForwardX11 yes

