Host github.com
    Hostname github.com
    IdentityFile {{ config.ssh.github_com.identity_filepath }}
    IdentitiesOnly yes
    User git
    StrictHostKeyChecking accept-new
    AddKeysToAgent yes

Host docker-native-env
    Hostname localhost
    Port 4022
    IdentityFile {{ config.ssh.docker_native_env.identity_filepath }}
    IdentitiesOnly yes
    User devops
    StrictHostKeyChecking no
    AddKeysToAgent yes
    ForwardX11 yes

Host docker-arm64-env
    Hostname localhost
    Port 4122
    IdentityFile {{ config.ssh.docker_arm64_env.identity_filepath }}
    IdentitiesOnly yes
    User devops
    StrictHostKeyChecking no
    AddKeysToAgent yes
    ForwardX11 yes

